* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: 'Roboto', sans-serif;
}

.section {
    margin: 0 8rem;
}

@media (min-width: 1400px) {
    .section {
        margin: 0 18rem;
    }
}

.section + .section {
    margin-top: 2rem;
}

.navbar {
    display: flex;
    flex-direction: row;
}

.navbar__item {
    list-style: none;
    padding: 1rem;
}

.navbar__item:hover {
    background: black;
    color: white;
}

.site-title {
    font-family: 'Playfair Display', serif;
    font-size: 4rem;
    font-weight: 400;
    text-align: center;
}

.blog-body {
    display: flex;
}

.blog-body > * + * {
    margin-left: 1rem;
}

.blog-content {
    width: 80%;
}

.blog-content > * + * {
    margin-top: 1.5rem;
}

.post {

}

.post > * + * {
    margin-top: .5rem;
}

.post__title {
        font-family: 'Playfair Display', serif;
    font-weight: 400;
}

.post__img {
    width: 100%;
}

.blog-side {
    width: 18%;
}

.author {
    display: flex;
    flex-direction: column;
}

.author__img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.footer {
    background-color: #f2f2f2;
    width: 100%;
    height: 20rem;
    margin-top: 2rem;
}
