* {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.txt-center {
    text-align: center;
}

.txt-right {
    text-align: right;
}

.txt-signature {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

.text-container {
    width: 80%;
    margin: 0 auto;
}
